<div style="padding:16px; max-width:720px; margin:auto">
  <mat-card>
    <mat-card-title>{{ id ? 'Editar Proyecto' : 'Nuevo Proyecto' }}</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="save()">
        <mat-form-field class="full"><mat-label>Título</mat-label><input matInput formControlName="title"></mat-form-field>
        <mat-form-field class="full"><mat-label>Descripción</mat-label><textarea matInput formControlName="description"></textarea></mat-form-field>
        <mat-form-field class="full">
          <mat-label>Estado</mat-label>
          <input matInput formControlName="status" placeholder="PENDING, ACTIVE, DONE">
        </mat-form-field>
        <div style="display:flex; gap:8px; align-items:center">
          <button mat-flat-button color="primary" type="submit">Guardar</button>
          <button mat-stroked-button (click)="router.navigate(['/projects'])" type="button">Cancelar</button>
          <mat-spinner *ngIf="loading" diameter="28"></mat-spinner>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
